:root {
    --background: black;
    --radius-xl: 20px;
    --text: #c9b570;
    --fz-tx: 15px;
    --fz-tl: 24px;
    --font: Georgia, serif;
    -glass: rgba(255, 255, 255, 0.1);
}

.logo {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text);
}

.op{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 300px;
    margin: 10px 0; 
    gap: 15px;
    background-color: var(--background);
    border-radius: var(--radius-xl);
    padding: 15px;
    border: 1px solid var(--text);
    color: var(--text);
    outline: none;
}

button {
    background-color: #d4af37;
    color: var(--background);
    border-radius: var(--radius-xl);
    padding: 10px;
    border: none;
    outline: none;
}

button:hover {
    transform: translateX(5px);
    cursor: pointer;
}

.core {
    display: flex;
    width: 100px;
}

.corner_a {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 150px;
}

.corner_b {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
}

.botline {
    position: fixed;
    bottom: 0;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.corner_c {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    transform: scaley(-1);
}

.corner_d {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    transform: scaley(-1);
}

.topline {
    position: absolute;
    top: 0;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}